<html>
<head>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<div>
   <a href="/">Home</a> | 
   <a href="/pool/add">Add New Song</a> | 
   <a href="/pool">Join Queue</a>
</div>
<h1><%= title %></h1>