<html>
<head>
    <!-- 'title' is the data that is passed from the index.js during the response.render function call -->
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div>
    <a href="/">Home</a>
</div>
<h1><%= title %></h1>
<div>
	<a href="/pool/add">Add New Song</a> |
    <a href="/pool">Join Queue</a>
	</div>
</body>
</html>